/* your styles go here */
input[type="checkbox"] + label{
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    color: #797474;
    margin-bottom: 15px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label:before{
    content: '\2714';
    border: 0.1em solid #4c8653;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    margin-right: 20px;
}
input[type="checkbox"]+label:active:before{
    transform: scale(0);
}
input[type="checkbox"]:checked + label::before{
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    color: #fff;
}
input[type="checkbox"]:disabled + label:before{
    transform: scale(1);
    border-color: #aaa;
}
input[type="checkbox"]:checked:disabled + label:before{
    transform: scale(1);
    background-color: #bfb;
}
input[type="number"]{
    width: 70%;
    padding-left: 5px;
    color: #383432;
}
.my-row{
    padding: 0 30px;
}
.feild-require{
    color: red;
    font-size: 14px;
}
.pic-choosed{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.modal .modal-header{
    border-top-left-radius:unset;
    border-top-right-radius:unset;
}
.modal .modal-header .icon{
    margin-right: 20px;
}
.modal .modal-body{
    padding-top: 30px;
}

/* radio button */
.radioContainer{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    user-select: none;
    padding-left: 30px;
    margin-top: 15px;
}
.radioContainer input{
    display: none;
}
.radioContainer + .radioContainer{
    margin-left: 20px;
}
.radioContainer .circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.radioContainer:hover .circle{
    background-color: #ccc;
}
.radioContainer input:checked + .circle{
    background-color: #2196fc;
}
.radioContainer input:checked + .circle:after{
    content: "";
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}